<?xml version="1.0"?>
<!-- 
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<add name="connStr" connectionString="Data Source=.;Initial Catalog=XHMWeb;Integrated Security=True;Pooling = True;Max Pool Size = 5120;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
	</system.web>
</configuration>
